<phpunit
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="All Tests from ./tests/">
            <directory suffix="Test.php">./</directory>
        </testsuite>
    </testsuites>
</phpunit>
